* {
    margin: 0;
    padding: 0;
    font-family: 'GFS Neohellenic Regular';
}

@font-face {
    font-family: 'GFS Neohellenic Regular';
    src: url('public/fonts/GFSNeohellenic.ttf');
}

@font-face {
    font-family: 'GFS Neohellenic Bold';
    src: url('public/fonts/GFSNeohellenicBold.ttf');
}