.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid black;
    padding: 0 10% 0 20%;
    margin-bottom: 20px;
}

.navigation * {
    padding: 0 5px;
}

.buttons-wrapper * {
    margin: 0 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 900;
}