.opportunity-wrapper {
    border-radius: 5px;
    min-width: 250px;
    min-height: 150px;
    position: relative;
    background-color: #F8F8F8;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
    margin: 10px;
    padding: 5px;
}

.opportunity-header {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-weight: 700;
    font-size: 1.2rem;
}

.opportunity-body {
    padding: 5px;
}

.opportunity-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.asap {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #E24B4B;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
}